.venv/
.zen/

# Environment variables
.env

# Python
__pycache__/
*.pyc
*.pyo

# IDE
.idea/
.vscode/
*.swp

# ML artifacts
models/
mlruns/

# Data
data/dataset_source/amazon_reviews.csv
data/archive/*
!data/archive/.gitkeep

# Mac
.DS_Store

# Airflow
airflow/logs/
airflow/airflow.db
airflow/airflow-webserver.pid
airflow/airflow.cfg
